/*
Student Name: Brandon Salvemini
File Name: styles.css
Date: November 23rd, 2023
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, figure, figcaption, section {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body, images and headings */
body {
  background: #ffb6c1;
}

img {
  max-width: 100%;
  display: block;
  padding: 5% 0 2%;
}

h1, h3 {
  font-family: 'Quicksand', sans-serif;
}

/* Style rule for all elements when selected */
/* Makes the selection color of all elements yellow and the color of selected text white */
/* This is for additional design requirement 8 */
/* This was found on W3School's CSS Pseudo-classes page */
*::selection {
  color: #fff;
  background-color: #eee600;
}

/* Style rule for list markers */

/* Turns the bullets of the list on hobbies page in the mobile viewport yellow */
/* This is for additional design requirement 8 */
/* This was found on W3School's CSS Pseudo-classes page */
::marker {
  color: #eee600;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

/* Style rules for header area */
header {
  text-align: center;
  padding: 2%;
  background-color: #ffb6c1;
  font-family: 'Merriweather', serif;
}

header h1, header h3 {
  color: #ffef00;
}

/* Style rules for navigation area */
nav {
  display: block;
  background-color: #eee600;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

nav li a {
  display: block;
  color: #000;
  padding: 0.5em;
  text-decoration: none;
}

/* Style rules for hero image */
#hero img {
  padding: 0;
}

/* Style rules for main content */

main {
  padding: 2%;
  font-family: 'Merriweather', serif;
}

main h1 {
  color: #ffef00;
  font-size: 1.5em;
  text-align: center;
}

main a {
  text-decoration: none;
  color: #eee600;
}

/* Underline links within the main element when hovered over */
main a:hover {
  text-decoration: underline;
}

main ul {
   margin-left: 5%;
   list-style-type: circle;
}

/* Style rules for hobby page gallery */
/* Based on the CSS for figure from Week 7 lab */
figure {
  border: 4px solid #eee600;
  box-shadow: 6px 6px 10px #bfc587;
  max-width: 400px;
  margin: 2% auto;
}

figure img {
  padding: 0;
}

figcaption {
  padding: 2%;
  border-top: 4px solid #eee600;
  text-align: center;
}

/* Style rules for footer content */

footer {
  background-color: #eee600;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 0.5em;
}

  /* Media Query for Tablet Viewport */
  @media screen and (min-width: 630px), print {

    /* Tablet Viewport: Style rules for nav area */
    /* header {
      text-align: left;
      padding: 1%;
    } */

    /* Tablet Viewport: Show tab-desk class, hide mobile class  */

    .mobile {
      display: none;
    }

    .tab-desk {
      display: block;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav ul {
      text-align: center;
    }

    nav li a {
      padding: 0.5em;
    }

    /* Tablet Viewport: Style rules for main area */
    main h1 {
      font-size: 2em; /* Resets h1 back to default size */
    }

    /* Tablet Viewport: Style rules for table */

    table {
      border: 1px solid #eee600;
      border-collapse: collapse;
      margin: 0 auto;
      width: 100%;
    }

    th, td {
      border: 1px solid #eee600;
      padding: 2%;
    }

    th {
      background-color: #eee600;
      color: #000;
    }

    tr:nth-child(odd) {
      background-color: #eee600;
    }

    /* Tablet Viewport: Style rules for grid layouts */
    .grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
    }

    .gallery-grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 30px;
      align-items: center; /* This property was discovered while experimenting with the grid editor in the Chrome dev tools */
    }

    .home-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
    }

    .home-text {
      grid-column: 1 / span 2;
    }

  }

  /* Media Query for Desktop Viewport */
  @media screen and (min-width: 1015px), print {

    nav li a:hover {
      background-color: #ffb6c1;
    }

    /* Desktop viewport: Change gallery grid to 3 columns */
    .gallery-grid {
      grid-template-columns: auto auto auto;
    }

  }

  /* Media Query for Large Desktop Viewports */
  @media screen and (min-width: 1921px) {

    body {
      background: linear-gradient(#ffb6c1, #ff69b4);
    }

    #container {
      width: 1920px;
      margin: 0 auto;
    }
  }

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}